* {
    margin: 0;
    padding: 0;
}

body {
font-size: 1em;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: #e6e6e6;
}

#area-cabecalho {

    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}

#area-logo, #area-menu {
    padding: 10px;
}
h1 {
    font-size: 2.5em ;
    color: #4e4e4e;

}
h2 {
    color: #f7b600;
}
h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}
.data-postagem {
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    display: block;
    margin-bottom: 10px;
}
.branco {
    color: white;
}
a {
    text-decoration: none;
}
 a:link,a:visited {
    color: #f7b600;
}
 a:hover {
  text-decoration: underline;
}
#area-cabecalho a:link,#area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}
#area-cabecalho a:hover {
    color: #f7b600;
    background-color: #fff;
    text-decoration: none;
}

#area-principal {
    width:  920px;
    margin: 0 auto;
    padding: 15px;
}
#area-postagens {
    width: 660px;
    float: left;
}

#area-lateral {
    width: 240px;
    float: right;
}
#rodape {
    clear: both;
    text-align: center;
    background: #CCC;
    padding: 15px;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.conteudo-lateral {
    background: white;
    padding: 10px;
    margin-bottom: 20px;

}
.postagem-lateral {
    font-size:  0.8em;
    padding: 5px;
    border-bottom: 1px solid #CCC;
}